* {
    padding: 0;
    margin: 0;
    outline: none;
} 
a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
section{
    display: block;
}
ul{
    list-style-type: disc;
}

b {
    font-weight: 700;
}
#gnb .headermenu{
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    max-width: 100vw;
    z-index: 100;
}
#gnb .inner{
    padding: 12px 20px;
    height: 64px;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 0 159.6px;
    width: 97%;
    position: relative;
    display: flex; 
    align-items: center;
}
@media screen and (max-width: 1250px) {}
#gnb .inner{
        max-width: 120rem;
        height: 64px;
        margin: 0 34.4px;
    }
@media screen and (max-width: 1220px) {
    #gnb .inner{
        max-width: 120rem;
        height: 64px;
        margin: 0;
    }
}
#gnb .logo{
    display: inline-flex;
    align-items: center;
    margin-right: 3.6rem;
}
@media screen and (min-width: 768px) {
    #gnb .menu{
        display: flex;
        align-items: center;
        width: 96%;
        padding-top: 0;
        padding-left: 0;
        padding-right: 40px;
        padding-bottom: 0;
    }
}
#gnb .menuul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
#gnb.menulist{
    display: inline-block;
    margin: 0;
}
@media screen and (min-width: 768px){
    #gnb ._1knjz49o{
        line-height: 1.32;
        font-size: 18px;
        letter-spacing: -2%;
    }
}
#gnb ._1knjz49o {
    font-weight: 700;
    line-height: 1.4;
    font-size: 14px;
    color: black;
    font-style: normal;
    margin-right: 3rem;
}
#gnb ._1s38h9c4 {
    text-decoration: none;
}
#gnb ._1s38h9c2 {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    font-size: 18px;
}
.serc{
    display: flex;
    justify-content: center;
    align-items: center;
}
 /* 999px 이하 화면 크기에서는 돋보기 메뉴 보이기 */
 @media (max-width: 990px) {
    #gnb .serchinput {
                display: none;
                position: absolute;
                top: -9px;
                left: 0;
                width: 100%;
                height: 40%;
                background-color: #fff;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                z-index: 999;
                
            }
            #gnb .serchinput.is-active {
                display: flex;
                flex-direction: column;
                position: fixed;
            }
            
            .se{
                display: block;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                padding: 10px;
                border: none;
                background-color: transparent;
            }
            .se-box {
                width: 30px;
                height: 24px;
                display: inline-block;
                position: relative;
            }
            .se-inner {
                display: block;
                top: 50%;
                margin-top: -2px;
            }
            .se-inner, .se-inner::before, .se-inner::after {
                width: 30px;
                height: 30px;
                position: relative;
                background-image: url(/images/스크린샷\ 2024-04-18\ 170739.png);
                background-repeat: no-repeat;
                background-size: 26px 26px;
            }
            .se.is-active .se-inner {
                background-color: transparent;
            }
            
            .se.is-active .se-inner::before {
                transform: rotate(-45deg);
                top: 0;
            }
            .se.is-active .se-inner::after {
                transform: rotate(45deg);
                bottom: 0;
            }
            .input-box{
                position: absolute;
                left: 0;
                width: 100%;
                padding: 0 16px;
                box-sizing: border-box;
                background-color: var(--seed-scale-color-gray-00);
                display: flex;
                justify-content: center;
                top:1px;
            }
            .co{
                display: block;
                margin-right: 16px;
                position: relative;
                width: 100%;
                box-sizing: border-box;
            }
            .ser {
                width: 100%; 
                line-height: 1.36;
                font-size: 16px;
                letter-spacing: -1%;
                border: none;
                outline: none;
                margin: 16px 0;
                padding: 9px 12px;
                box-sizing: border-box;
                height: 40px;
                color: var(--seed-scale-color-gray-900);
                background-color: #F2F3F6;
                border-radius: 8px 8px 8px 8px;
            }
            .cancell{
                line-height: 1.36;
                font-size: 16px;
                letter-spacing: -1%;
                color: var(--seed-scale-color-gray-900);
                white-space: nowrap;
                cursor: pointer;
                appearance: none;
                border: 0;
                background: none;
                padding: 0;
                border-radius: 6px;
                box-sizing: border-box;
                text-align: center;
                font-weight: 700;
                margin: 16px 0;
                text-decoration: none;
            }
            .sec{
                position: relative;
                transform: translateY(0);
                background-color: var(--seed-scale-color-gray-00);
                display: flex;
                flex-direction: column;
                width: 100%;
                overflow: hidden;
                transform: translateY(-1.6rem);
                padding: 8px 16px;
                box-sizing: border-box;
                top:58px;
            }
            .recom{
                line-height: 1.32;
                letter-spacing: -2%;
                font-weight: 700;
                line-height: 1.4;
                font-size: 18px;
                margin: 0;
                padding-top: 4px;
                padding-right: 0;
                padding-bottom: 4px;
                padding-left: 0;
                color: gray;
            }
            .item-box{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                padding: 0;
            }
            .item{
                line-height: 1.32;
                font-size: 18px;
                letter-spacing: -2%;
                outline: 0;
                margin: 0;
                width: 50%;
                padding: 16px 0;
                border-bottom: 1px solid #dcdcdc;
                cursor: pointer;
                list-style: none;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
            }
            .sec-background{
                background: rgba(23, 23, 26);
                opacity: .5;
                position: absolute;
                width: 100%;
                height: 60vh;
                top: 295px;
            }
        }

/* 990px 이상 화면 크기에서는 네비게이션 메뉴 보이기 */
@media (min-width: 990px) {
#gnb .serchinput {
    display: flex;
    position: static;
    width: auto;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }
  .se {
    display: none;
  }
  .cancell{
    display: none;
  }
  .ser{
    width: 288px;
    height: 40px;
    line-height: 1.36;
    font-size: 16px;
    font-family: inherit;
    background-color: #F2F3F6;
    margin: 16px 0;
    padding: 9px 12px;
    border: none;
    outline: none;
    border-radius: 8px 8px 8px 8px;
  }
  .sec{
    display: none;
  }
}
.chat{
    width: 97.6px;
    height: 40px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    margin-left: 6px;

}

/* 메인*/
main {
    margin-top: 64px;
}
#main-top{
    padding-top: 24px;
    background-color: #FFFAE0;
}
#home-main-top{
    width: 1024px;
    height: 760px;
    margin: 0 auto;
    position: relative;
    background-color: #FFFAE0;
}
.home-main-desc{
    position: relative;
    top: 218px;
}
.home-main-title{
    font-size: 54px;
    font-weight: 700;
    line-height: 73px;
    margin-bottom: 3.2rem;
    letter-spacing: -2%;
}
.service-desc{
    font-weight: 400;
    font-size: 20px;
    color: #7c7c7c;
    line-height: 30px;
}
#download-buttons {
    margin-top: 20px;
}
#download-buttons .fixed-download-button {
    width: 180px;
    height: 56px;
    border-radius: 10px;
    background-color: #FF6F0F;
    box-sizing: border-box;
    text-decoration: none;
    padding: 14px 2rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 1rem;
}
.fixed-google-play {
    fill: #fff;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: 3px;
    left: -61px;
}
.fixed-apple-store {
    fill: #fff;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -1px;
    left: -8px;
}
.fixed-download-text {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-left: 8px;
    font-weight: 700;
    vertical-align: middle;
    line-height: 28px;
    position: relative;
    top: -23px;
    left: 6px;
}
.fixed-download-text1{
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-left: 8px;
    font-weight: 700;
    vertical-align: middle;
    line-height: 28px;
    position: relative;
    top: -2px;
    left: -2px;
}
.home-main-image-top {
    position: absolute;
    right: -84px;
    bottom: 0;
    width: 655px;
    height: 800px;
    background-color: #FFFAE0;
    background-repeat: no-repeat;
    background-size: 804px 685px;
}
.home-main-image-top {
    position: absolute;
    right: -84px;
    bottom: 0;
    width: 655px;
    height: 800px;
    background-color: #FFFAE0;
    background-repeat: no-repeat;
    background-size: 804px 685px;
}
.home-main-content {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-main-image-01 {
    background-size: 655px 750px;
    width: 655px;
    height: 750px;
    display: inline-block;
}
.service-title {
    font-weight: 700;
    font-size: 18px;
    color: #FF6F0F;
    margin-bottom: 10px;
}
.home-main-title {
    font-size: 42px;
    line-height: 57px;
    margin-bottom: 10px;
}
.home-buttons {
    margin-top: 3.2rem;
}
.home-buttons .button-text {
    font-size: 18px;
    line-height: 23.76px;
    font-weight: 700;
}
.home-buttons .home-button {
    background-color: #E9ECEF;
    color: #212529;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    padding: 12px 2rem;
    display: inline-block;
    margin-right: 10px;
}
.home-buttons .home-button:hover{
    background-color: #ced4da;
}
.rebranded-home-main-section .home-main-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.rebranded-home-main-section .home-main-content {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rebranded-home-main-section .home-main-image-02 {
    background-size: 655px 750px;
    width: 650px;
    height: 750px;
    display: inline-block;
}
.service-title {
    font-weight: 700;
    font-size: 18px;
    color: #FF6F0F;
    margin-bottom: 10px;
}
.rebranded-home-main-section .home-story-list {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.rebranded-home-main-section .home-story-list .home-story-list-item {
    margin-right: 1rem;
    margin-left: 0;
    width: 124px;
}
.rebranded-home-main-section .home-story-list .icon-story-01 {
    background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/rebranded-icon-story-1-f7be38c51a389f415e9c0ae94294a80d10a744c3006a2e3a5978c11f8fc8d5d5.svg);
}
.rebranded-home-main-section .home-story-list .icon-story {
    width: 56px;
    height: 56px;
    background-size: 56px 56px;
}
.mb-2 {
    margin-bottom: 0.8rem;
}
.mt-3 {
    margin-top: 1.6rem;
}
.text-s {
    font-size: 16px !important;
    line-height: 1.5;
}
.text-bold {
    font-weight: bold;
}
.rebranded-home-main-section .home-story-list .item-desc {
    font-weight: 400;
    font-size: 13px;
    color: #7c7c7c;
    line-height: 17px;
}
.rebranded-home-main-section .home-story-list .icon-story-02 {
    background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/rebranded-icon-story-2-5611a1d6fccb1e6b28adac130948d9701358f94fe7eb31daa224493bbd875c36.svg);
}
.rebranded-home-main-section .home-story-list .icon-story {
    width: 56px;
    height: 56px;
    background-size: 56px 56px;
}
.rebranded-home-main-section .home-story-list .home-story-list-item:last-child {
    margin-right: 0;
}
.rebranded-home-main-section .home-story-list .home-story-list-item {
    margin-right: 1rem;
    margin-left: 0;
    width: 124px;
}
.rebranded-home-main-section .home-story-list .icon-story-03 {
    background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/rebranded-icon-story-3-5a01573654c91fafeb8253238bac8a718edb7fdf3e49ce8b1a7b89c4aebc6f61.svg);
}
.rebranded-home-main-section .home-story-list .icon-story {
    width: 56px;
    height: 56px;
    background-size: 56px 56px;
}
.rebranded-home-main-section .home-main-content {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rebranded-home-main-section .home-main-image-03 {
    background-size: 655px 750px;
    width: 650px;
    height: 750px;
}
.rebranded-home-main-section .home-main-image {
    display: inline-block;
}
.rebranded-home-main-section .service-title {
    font-weight: 700;
    font-size: 18px;
    color: #FF6F0F;
    margin-bottom: 10px;
}
.rebranded-home-main-section .home-buttons {
    margin-top: 3.2rem;
}
.rebranded-home-main-section .home-buttons .button-text {
    font-size: 18px;
    line-height: 23.76px;
    font-weight: 700;
}
.rebranded-home-main-section .home-main-image-04 {
    background-size: 655px 750px;
    width: 650px;
    height: 750px;
}

/*여기서 부터 foot*/


.foot{
    background-color: white;
    color: black;
    border-top: 1px solid #adb6bd;
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
}
.mar{
    display: flex;
    flex-direction: column;
    max-width: 76.8rem;
    margin: 0 359.6px;
}
@media screen and (max-width: 1250px){
    .mar{
    display: flex;
    flex-direction: column;
    max-width: 76.8rem;
    margin: 0 212.4px;
}
}
@media screen and (max-width: 1050px){
    .mar{
    display: flex;
    flex-direction: column;
    max-width: 76.8rem;
    margin: 0 100px;
}
}
@media screen and (max-width: 900px){
    .mar{
    display: flex;
    flex-direction: column;
    max-width: 76.8rem;
    margin: 0;
}
}
.qus{
    padding: 48px 0;
}
@media screen and (min-width: 768px) {
    .appdown{
    float: right;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    }
    .carrotdown{
        line-height: 1.4;
        font-size: 14px;
    }
}
.carrbutton{
    display: flex;
}
@media screen and (min-width: 768px) {
    .apple{
        margin-top: 8px;
        margin-left: 0;
    }
    ._1trxeqs5 {
    line-height: 1.4;
    font-size: 1.4rem;
    display: none;
}
}
.apple{
    text-decoration: none;
    outline: 0;
    display: flex;
}
._1trxeqs5 {
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.3008rem;
    color: black;
    margin-right: 0.8rem;
}
@media screen and (min-width: 768px) {
    .google{
        margin-left: 10px;
        margin-top: 8px;
    }
}
.google{
    display: flex;
}
@media screen and (min-width: 768px) {
    .qusbox{
        line-height: 1.4;
        font-size: 14px;
    }
}
.qusbox{
    line-height: 1.5;
    font-size: 13px;
    display: flex;
    max-width: 76.8rem;
}
.quss{
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 33%;
}
.quss:last-child{
    margin-right: 15%;
}
.quslist:not(:last-child){
    margin-bottom: 16px;
}
.quslist{
    width: fit-content;
    list-style: none;
}
._1trxeqsp {
    color: black;
    font-size: 14px;
}
._1trxeqsp {
    text-decoration: none;
    outline: 0;
}
@media screen and (min-width: 768px) {
    .ceo{
        display: grid;
        justify-content: space-between;
        align-items: flex-start;
    }
    
}
.ceo{
    display: grid;
    padding: 2.4rem 0 10rem;
    border-top: 1px solid #eaebee;
}
.ceoinfobox{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
@media screen and (min-width: 768px) {
    .ceoinfo{
        line-height: 1.5;
        font-size: 13.008px;
    }
}
.ceoinfo{
    line-height: 1.3;
    font-size: 12px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    color: #868b94;
}
._1s38h9c0 {
    display: flex;
    align-items: center;
}
._1trxeqsd {
    margin: 0 4px;
}
._1trxeqse {
    font-style: normal;
}
._1trxeqsk {
    margin-bottom: 16px;
}
._1trxeqsg:not(:last-child) {
    margin-right: 16px;
}
@media screen and (min-width: 768px) {
    ._1trxeqsg {
        line-height: 1.5;
        font-size: 13.008px;
    }
}
._1trxeqsp {
    text-decoration: none;
    outline: 0;
}
#footer-root ._1trxeqsg {
    font-weight: 700;
    line-height: 1.3;
    font-size: 12px;
    white-space: nowrap;
    color: #868b94;
}
@media screen and (min-width:768px) {
    ._1trxeqsl {
    margin-top: 0;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    }
}
._1trxeqsl {
    display: flex;
    align-items: center;

}
._1trxeqsl>._1trxeqsp:not(:last-child) {
    margin-right: 16px;
}
._1trxeqsp {
    text-decoration: none;
    outline: 0;
}
._1trxeqsm {
    padding-top: 4px;
}
._1trxeqsn {
    color: #868b94;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
.terms{
    flex-wrap: wrap;
    display: flex;
    grid-column: 1 / 4;
}
._1trxeqsg:not(:last-child) {
    margin-right: 16px;
}
@media screen and (min-width: 768px) {
    ._1trxeqsg {
    line-height: 1.5;
    font-size: 13.008px;
}
}
._1trxeqsh {
    color: #4d5159;
}
.faceicon{
    width: 21px;
    height: 21px;
}
.youicon{
    width: 24px;
    height: 17.45px;
}
.staricon{
    width: 21.09px;
    height: 24;
}
.bicon{
    width: 24px;
    height: 19.64px;
}
.aa{
    width: 44px;
    height: 17.6px;
    padding: 0 0 0 4px;
}
._1trxeqsg:hover{
    border-bottom:1px solid black ;
}
._1trxeqsm:hover{
    opacity:60%;
}
.quslist:hover{
    border-bottom:1px solid black ;
}
.downpic:hover{
    opacity:60%;
}
.fixed-download-button:hover{
    opacity:80%;
}
._1knjz49o:hover{
    opacity:60%;
}
.chat:hover{
    cursor: pointer;
    background: color gray ;
}